<a href="https://colab.research.google.com/github/PeruthAshaba/Ashaba/blob/main/peruth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [215]:
import numpy as np
x = 3

In [216]:
#create a rank 1 array

A numpy array is a grid of values, of the same and is indexed by a couple of non
The number of dimensions in the rank of an   the shape of integers is a tupple of integers giving the size of the array along each dimension.we can initialise numpy arrays from nested python lists and access elements using square brackets.
Numpy also provides many fnctions to create arrays

create a rank 1 array

create a rank 1 array

In [217]:
a = np.array([1, 2, 3, 4])
a
type(a)
a.shape
a[0] = 5
print

array([[ 6,  8],
       [10, 12]])

In [218]:
b = np.array([[1,2,3],[4, 5, 6]])
b.shape

(2, 3)

In [219]:
c = np.zeros((2,2))
c
d = np.ones((3,3))
d

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [220]:
r = np.full((2,2),7)
r

array([[7, 7],
       [7, 7]])

In [221]:
t = np.eye(2)            #create a 2 by 2 identity matrix
t

array([[1., 0.],
       [0., 1.]])

In [222]:
z = np.random.random((2,2))    #Its filled with random that r generated by python, Create an array filled with random variables
z                               # print(z)

array([[0.05106968, 0.44856426],
       [0.75081335, 0.58383596]])

multiplication in jupyter is not done by * but by a dot .

Array Maths
Basic maths functions operate elementwise and r available both as aletter overs nd as functions in numpy

In [223]:
h = np.array([[1,2],[3,4]])
j = np.array([[5,6],[7, 8]])
np.add(h, j)

array([[ 6,  8],
       [10, 12]])

In [224]:
x = np.array([[1,2], [3,4]])
z = np.array([1,2,3])
x.T

array([[1, 3],
       [2, 4]])